<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>senderautomatedemails</name>
	<displayName><![CDATA[Sender.net Automated Emails]]></displayName>
	<version><![CDATA[1.0.6]]></version>
	<description><![CDATA[All you need for your email marketing in one tool.]]></description>
	<author><![CDATA[Sender.net]]></author>
	<tab><![CDATA[emailing]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>